<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in detail</title>
    <link rel="stylesheet" href="/detailPost.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Montserrat:wght@300&family=Mooli&display=swap" rel="stylesheet">
</head>
<body>
    <div class="head"><h2>Here is your post detail</h2></div>
    <div class="id1"><h5> Post id: <%= post.id %> </h5></div>
    <div class="post">
        <h3 class="user">@<%=post.username%></h3>
        <h4> <%=post.content%> </h4>
    </div>
</body>
</html>